.#{$prefix}-header {
    $self: &;
    align-items: center;
    display: flex;
    height: auto;
    position: relative;
    //background: cl(white);
    background: url('../images/back.png')no-repeat;
    background-position: left;
    background-color: #e5e6e8;
    // box-shadow: 0 1px 1px 0px #000;
    font-family: $font-default;
    width: 100%;
    padding: rem(25) 0;
    // @include respond-to(sm) {
    // padding: 15px 0 0;
    // }
    @include m('interna') {
        background: cl(white);
        border-top: rem(2) solid cl(blueLigthen);
        position: relative;
        box-shadow: 0 -10px rem(35) 0 grey;
        z-index: 10;
    }
    @include e('bloco-flex') {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include respond-to(md) {
            flex-direction: initial;
        }
    }
    @include e('logo') {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: rem(20) 0;
        @include respond-to(sm) {
            margin: 0;
        }
        @include respond-to(md) {
            zoom: .7;
        }
        @include respond-to(lg) {
            zoom: 1;
        }
    }
    @include e('mobile-btns') {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
        @include respond-to(sm) {
            width: auto;
        }
    }
    @include e('menu') {
        @include size(100%,
        100%);
        background: cl(white);
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
        @include respond-to(sm) {
            background: transparent;
            display: flex$i;
            padding: 20px 0;
            position: relative;
        }
        @include respond-to(md) {
            width: 65%;
            padding: 0;
        }
        @include respond-to(md) {
            width: 60%;
        }
    }
    @include e('nav') {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: rem(70);
        width: 100%;
        @include respond-to(sm) {
            flex-direction: initial;
            margin-top: 0;
        }
        li {
            display: inline-block;
            margin: rem(30) 0;
            text-align: center;
            width: 100%;
            @include respond-to(sm) {
                margin: 0;
                width: auto;
            }
            a {
                @include fonts(600,
                14);
                @extend %transition;
                display: inline-flex;
                text-transform: uppercase;
                color: #000;
                @include respond-to(sm) {
                    // @include fonts(400,11);
                    // color: #000;
                }
                @include respond-to(md) {
                    // @include fonts(400,14);
                    // color: #000;
                }
                &:hover {
                    color: cl(blueDark);
                }
            }
        }
    }
}

.#{$prefix}-redes {
    $self: &;
    display: none;
    width: 50%;
    @include respond-to(sm) {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-direction: initial;
        justify-content: space-between;
        width: 15%;
    }
    i {
        @include size(rem(34),
        rem(34));
        @include radius(rem(20));
        color: #4c4c4c;
        font-size: rem(20);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        &:hover {
            color: #09497a;
        }
    }
    @include m('footer') {
        @extend %boxFull;
        @include respond-to(sm) {
            width: 17%;
        }
        @include respond-to(md) {
            width: 15%;
        }
        i {
            // background: #0f77ce;
            transition: all 0.3s;
            &:hover {
                // background: #fff;
                // color: #0f77ce;
                color: cl(white);
            }
        }
    }
}

.is-fixed {
    position: fixed;
}

.page-template>.ae-header--interna {
    @include respond-to(md) {
        position: fixed;
    }
}