/*!
* Copyright: 2018 Convertte - http://www.convertte.com.br.
* Desenvolvedor(es): Victor Nery
*/

//==========================================================================
// PREFIX VAR
//==========================================================================
$prefix: 'ae';
main {
    float: left;
    width: 100%;
}

//==========================================================================
// STYLES
//==========================================================================
@import 'vendor/base';
@import 'global/all';
@import 'modules/all';
@import 'partials/base';
@import 'pages/base';