 /// Font Size Scheme 0.0.1
 /// Map for sizes from the font; 
 /// function for use the sizes; 
 /// create classes and placeholders.
 /// 
 /// From DEV Undergrond
 /// @author Allef Silva, Jonas Sousa
 /// Map - Font Sizes
 /// @type Map
 /// 
 /// Use unity better for you(px, em, rem).
 /// 
 /// Helper nomeclature.
 /// Use a letter(for example x) up until three times. After, use next letter.
 $font-sizes: ( // u = ultra
 uu-large: 67px, u-large: 48px, // h = hiper
 hhh-large: 44px, hh-large: 36px, h-large: 32px, // x = extra
 xxx-large: 30px, xx-large: 27px, x-large: 24px, large: 20px, x-medium: 18px, medium: 16px, // Your font size base.
 // x = extra
 small: 14px, x-small: 12px, xx-small: 10px);
 // Mixin de tam. peso e familia de fonte. 
 @mixin fonts( $bold: 700, $size: 12, $font: $font-default) {
     font: $bold rem($size) $font;
 }
 
 @function use-fz($size) {
     @if map-has-key($font-sizes, $size) {
         @return map-get($font-sizes, $size);
     }
     @warn "Unfortunately, no value could be retrieved from `#{size}`. "+"Please make sure it is defined in `$font-sizes` map.";
     @return null;
 }
 
 @mixin make-fz($name: fz) {
     @each $sufix,
     $value in $font-sizes {
         .#{$name}--#{$sufix},
         %#{$name}--#{$sufix} {
             font-size: use-fz($sufix);
         }
     }
 }
 
 $prefix: $prefix;
 @include make-fz($prefix + 'fz');
 //modules of titles and subtitles HOME