.#{$prefix}-menu {
    $self: &;

  	@include e('toggle') {
	    @include size(rem(60), rem(60));
	    margin: 0;
	    position: fixed;
	    right: rem(15);
    	top: rem(85);
	    z-index: 9999;
		@extend %transition;

	    .toggle {
	      	@include size(rem(53), rem(17));
	      	@include radius(rem(7));
	      	background-color: transparent;
	      	margin: rem(5) rem(11);
	      	position: relative; 
	      	padding: rem(24) rem(13) rem(24);
	     	
	      	z-index:999;
	    }

	    &.on {

	      	div {
	        	background-color: transparent;
	      	}

	      	span {
	        	background-color: transparent;

	        	&:before{
	          		background-color: #000;
	          		transform: rotate(45deg) translate(rem(9), rem(9));
	        	}

	        	&:after{
	          		background-color: #000;
	          		transform: rotate(-45deg) translate(rem(7), - rem(8));
	        	}
	      	}

	      	+ .topo__menu {
	      		@include size(100%, 100%);
		        background: cl(white);
		        display:block;
		        left: 0;
		        opacity: 1;
		        position: fixed;
		        top: 0;
		        text-align: center;
		        visibility:visible;
		        z-index: 1;

	        	li ul {
	         	 	display: none;
	        	}
	      	}
	    }

	    div {
	    	@include size(rem(60), rem(60));
	    	@include radius(rem(55));
	     	background: cl(white);
	        padding: rem(18) rem(15);
	    }

    	span {
		    position: relative;
		    display: block;
		    top: rem(10);
		    height: rem(6);
		    background-color: #0088fe;

	      	&:after,
	      	&:before {
		        @include size(rem(31), rem(6));
		        @include radius(rem(1));
		        content: "";
		        position: absolute;
		        left: 0;
		        top: - rem(12);
		        background-color: #0088fe;
		        backface-visibility:hidden;
      		}
      		&:after{
        		top: rem(12);
      		}
    	}

	    @include respond-to(sm) {
	      display: none;
	    }
  	}
}


.mobile-sticky{
	@extend %transition;
	top: rem(20) $i;
}