.#{$prefix}-login {
    @include size(100%, 100%);
    color: cl(white);
    background-image: url('../images/login-bg.png');
    position: absolute;
}

.#{$prefix}-box {
    @include size(rem(375),
    auto);
    @extend %boxFull;
    @include m('login') {
        @extend .#{$prefix}-flex,
        .#{$prefix}-flex--column;
    }
}

.#{$prefix}-title {
    text-align: center;
    @include m('medium') {
        font-size: rem(18);
    }
}